
<div class="min-h-screen bg-gray-100 py-6 w-full flex flex-col items-center justify-center">
    <div class="w-15 m-4">
        <a>
            <button class="shadow-lg bg-purple-500 text-white rounded-md px-2 py-1 w-full hover:scale-105 hover:cursor-pointer transition ease-in-out" routerLink="/user">User Management</button>
        </a>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 max-w-5xl place-items-center sm:mt- md:mt-0 lg:mt-0">
        <a href="https://wiki.nftoppings.com" class="transition ease-in-out hover:scale-105">
        <div class="py-8 px-8 max-w-md mx-auto flex-col bg-white rounded-xl shadow-lg space-y-2 sm:py-4 sm:flex  sm:items-center sm:space-y-0 sm:space-x-6">
            <img class="block mx-auto h-24 rounded-full sm:mx-0 sm:shrink-0" src="../../assets/logos/logo-wikijs-full.svg" alt="WikiJS Logo">
            <div class="sm:flex flex-row space-y-2 sm:text-left">
            <div class="space-y-2.5 mt-5">
                <p class="text-lg text-black font-semibold">
                WikiJS
                </p>
                <p class="text-slate-500 font-medium">
                All information about the concept and infrastructure like port usage documented. 
                </p>
            </div>
            </div>
        </div>
        </a>
        <a href="https://penpot.nftoppings.com" class="transition ease-in-out hover:scale-105">
        <div class="py-8 px-8 max-w-md mx-auto flex-col bg-white rounded-xl shadow-lg space-y-2 sm:py-4 sm:flex  sm:items-center sm:space-y-0 sm:space-x-6">
            <img class="block mx-auto h-24 rounded-lg sm:mx-0 sm:shrink-5" src="../../assets/logos/penpot-logo.svg" alt="Penpot Logo">
            <div class="sm:flex flex-row space-y-2 sm:text-left">
            <div class="space-y-2.5 mt-5">
                <p class="text-lg text-black font-semibold">
                Penpot
                </p>
                <p class="text-slate-500 font-medium">
                Design tool which can replace Figma and AdobeXD. 
                </p>
            </div>
            </div>
        </div>
        </a>
        <a href="https://nextcloud.nftoppings.com" class="transition ease-in-out hover:scale-105">
        <div class="py-8 px-8 max-w-md mx-auto flex-col bg-white rounded-xl shadow-lg space-y-2 sm:py-4 sm:flex  sm:items-center sm:space-y-0 sm:space-x-6">
            <img class="block mx-auto h-24 rounded-lg sm:mx-0 sm:shrink-0" src="../../assets/logos/logo_nextcloud_blue.svg" alt="Nextcloud Logo">
            <div class="sm:flex flex-row space-y-2 sm:text-left">
            <div class="space-y-2.5 mt-5">
                <p class="text-lg text-black font-semibold">
                Nextcloud
                </p>
                <p class="text-slate-500 font-medium">
                Self hosted cloud to store all sorts of data with talk capabilties. 
                </p>
            </div>
            </div>
        </div>
        </a>
        <a href="https://leantime.nftoppings.com" class="transition ease-in-out hover:scale-105">
        <div class="py-8 px-8 max-w-md mx-auto flex-col bg-white rounded-xl shadow-lg space-y-2 sm:py-4 sm:flex  sm:items-center sm:space-y-0 sm:space-x-6">
            <img class="block mx-auto h-24 rounded-lg sm:mx-0 sm:shrink-0" src="../../assets/logos/leantime-logo.svg" alt="Leantime Logo">
            <div class="sm:flex flex-row space-y-2 sm:text-left">
            <div class="space-y-2.5 mt-5">
                <p class="text-lg text-black font-semibold">
                Leantime
                </p>
                <p class="text-slate-500 font-medium">
                Project mangement tool, which provides all necessary functionalities for a smaller project.
                </p>
            </div>
            </div>
        </div>
        </a>

        <a href="https://doc.nftoppings.com" class="transition ease-in-out hover:scale-105">
        <div class="py-8 px-8 max-w-md min-w-md mx-auto flex-col bg-white rounded-xl shadow-lg space-y-2 sm:py-4 sm:flex  sm:items-center sm:space-y-0 sm:space-x-6">
            <img class="block mx-auto h-24 rounded-lg sm:mx-0 sm:shrink-0" src="../../assets/android-chrome-512x512.png" alt="Leantime Logo">
            <div class="sm:flex flex-row space-y-2 sm:text-left">
            <div class="space-y-2.5 mt-5">
                <p class="text-lg text-black font-semibold">
                Hedgedoc
                </p>
                <p class="text-slate-500 font-medium">
                Realtime markdown collaboration tool for fast note taking.
                </p>
            </div>
            </div>
        </div>
        </a>
    </div>
</div>